$colorblue: #42bdec;
.toolbar-background-md {
    background: $colorblue;
}
.toolbar-title-md {
    color:white;
}
page-lobby {
    .chatbox {
        background-color:#e5e9f1;
        color:white;
        height: 140px;
        overflow: hidden;
        overflow-y: scroll;        
    }
}


section#room-list {
    h2 {
        color: #595959;
    }
    h3 {
        padding: .2em .4em;
        background-color:#f0f0f0;
        color: blue;
        font-size: 1.6em;
    }
}