<ion-header>
  <ion-navbar>
    <ion-title>
      Lobby  {{ title }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list inset>

    <ion-item>
      <button ion-button (click)="onClickUpdateUsername()"  >Update Username</button>
   
      <button ion-button (click)="onClickCreateRoom()"  color="secondary" >Create Room</button>
 
      <button ion-button (click)="onClickLogout()"  color="dark">Logout</button>
    </ion-item>
    
  </ion-list>  
  
  <ion-list>
    <ion-title>Room and User List</ion-title>
    <ion-item *ngFor = " let id of roomIds "  >
      <div (click)="onJoinRoom(rooms[id].name)">{{ rooms[id].name }} </div>      
      <div class="users">
        <div class="user" *ngFor = " let user of rooms[id].users " socket=" user.socket">
          {{ user.name }}
        </div>
      </div>
      
    </ion-item>
  </ion-list>

  <ion-list inset>
    
    <ion-item>
      <ion-label floating>Message</ion-label>
      <ion-input type="text" [(ngModel)]="inputMessage" (keyup.enter)="onSendMessage(inputMessage)"></ion-input>
    </ion-item>
    <ion-item>
      <button ion-button (click)="onSendMessage(inputMessage)" color="primary" block >Send</button>
    </ion-item>
    
    <ion-list class="chatbox" angular2-auto-scroll lock-y-offset="10" observe-attributes>
      <ion-item *ngFor="let msg of listMessage[0].messages " ><b>{{msg.name}} </b>{{ msg.message }}</ion-item>
    </ion-list>
  
  </ion-list>

</ion-content>