<ion-header>
  <ion-navbar>
    <ion-title>
      Room {{ title }}
      
     
    <button ion-button color="dark" (click)=" settings = ! settings " >
      <ion-icon name="settings" ></ion-icon>
    </button>       
    <button ion-button color="dark" (click)="onClickLobby()" >
      <ion-icon name="ios-home"></ion-icon>
    </button>  
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div *ngIf=" settings " id="settings">
    <ion-item>
      <ion-label>Select Video</ion-label>
      <ion-select [(ngModel)]="selectedVideo" #video (ngModelChange)="changeVideo($event)">
        <ion-option *ngFor="let video of videos" value="{{ video.value }}" >{{video.text}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Select Audio</ion-label>
      <ion-select [(ngModel)]="selectedAudio" #audio (ngModelChange)="changeAudio($event)">
        <ion-option *ngFor="let audio of audios" value="{{ audio.value }}" >{{audio.text}}</ion-option>
        
      </ion-select>
    </ion-item>

  </div>
  <div id="video-container"></div>

  <div class="whiteboard-container">
    <canvas mycanvas id="mycanvas" [drawSize]="dsize" [drawColor]="dcolor" [drawMode]="dmode"></canvas>
  <!--<canvas  width="{{ canvaswidth }}" height="{{ canvasheight }}"  mycanvas [drawSize]="dsize" [drawColor]="dcolor" [drawMode]="dmode"></canvas>-->
    
    <i>
    
    <button ion-button color="dark" (click)="drawMode()" id="ion-draw">
      <ion-icon name="ios-brush"></ion-icon>
    </button>  

    <button ion-button color="dark" (click)="eraseMode()">
      <ion-icon name="ios-hand"></ion-icon>
    </button> 


    <button ion-button color="dark" (click)="onClickClear()">
      <ion-icon name="md-square-outline"></ion-icon>
    </button>

    <button ion-button color="dark" class="color">
      <ion-icon name="md-color-palette"></ion-icon>
      <ion-select [(ngModel)]="DrawColor" (ngModelChange)="dcolor = $event" cancelText="Cancel" okText="Okay">
        <ion-option value="#161515">Black</ion-option>
        <ion-option value="#57646B">Grey</ion-option>
        <ion-option value="#fff">White</ion-option>
        <ion-option value="#D01B1B">Red</ion-option>
        <ion-option value="#1DB73C">Green</ion-option>
        <ion-option value="#2094D7">Blue</ion-option>             
      </ion-select>
    </button>
    
        
        

    <button ion-button color="dark" class="size">
      <ion-icon name="md-options"></ion-icon>
      <ion-select [(ngModel)]="DrawSize" (ngModelChange)="dsize = $event" cancelText="Cancel" okText="Okay">
        <ion-option value="2">Small</ion-option>
        <ion-option value="5">Medium</ion-option>
        <ion-option value="8">Large</ion-option>     
      </ion-select>
    </button>

    </i><!--/-->



  </div><!--/whiteboard-container-->


  <div class="chat">
    <ion-item>
      <ion-label floating>Message</ion-label>
      <ion-input type="text" [(ngModel)]="inputMessage" (keyup.enter)="onSendMessage(inputMessage)"></ion-input>
      <button ion-button item-right (click)="onSendMessage(inputMessage)" color="primary" >Send</button>
    </ion-item>
    <ion-list class="chatbox" myautoscroll>
      <ion-item *ngFor="let msg of listMessage[0].messages " ><b>{{msg.name}} </b>{{ msg.message }}</ion-item>
    </ion-list>
  </div><!--/chat-->

</ion-content>