page-room {
    .chatbox {
        background-color:#e5e9f1;
        color:white;
        height: 140px;
        overflow: hidden;
        overflow-y: scroll;        
    }
    canvas {
        border:solid 1px black;
    }
}
