$medium_break: 510px;
$left_medium_width: 170px;
$large_break: 680px;
$left_large_width: 226px;
$colorblue: #42bdec;
.toolbar-background-md {
    background: $colorblue;
}
.toolbar-title-md {
    color:white;
}
page-room ion-content {
    position: relative;
    #settings{
        @media all and ( min-width: $medium_break ) {
            width: $left_medium_width;
        }
        @media all and ( min-width: $large_break ) {
            width: $left_large_width;
        }
    }
}
#video-container {
    width: 100%;
    video {
        width: 50%;
    }
    @media all and ( min-width: $medium_break ) {
        width: $left_medium_width;
        video { width: 100%; }
    }
    @media all and ( min-width: $large_break ) {
        width: $left_large_width;
    }
}


.chat {
    width: 100%;
    @media all and ( min-width: $medium_break ) {
        width: $left_medium_width;
    }
    @media all and ( min-width: $large_break ) {
        width: $left_large_width;
    }
    .chatbox {
        background-color:#e5e9f1;
        color:white;
        height: 140px;
        overflow: hidden;
        overflow-y: scroll;        
    }
}
#document {
    background-color: $colorblue;
    width: 100%;
    color:white;
    input,p {
        color:white;
    }
    @media all and ( min-width: $medium_break ) {
        width: $left_medium_width;
        input {
            color:white;
            font-size:12px;
        }
    }
    @media all and ( min-width: $large_break ) {
        width: $left_large_width;
    }
}
.whiteboard-container {
    position:relative;
    width: 340px;
    height: 340px;
    @media all and ( min-width: $medium_break ) {
        position: absolute;
        z-index: 1234;
        top: 0;
        left: $left_medium_width + 2px;
    }
    @media all and ( min-width: $large_break ) {
        position: absolute;
        z-index: 1234;
        top: 0;
        left: $left_large_width + 2px;
    }
    canvas {
        border:solid 1px black;
        /*width: 340px;
        height: 340px;*/
    }
}
/** buttons */
.whiteboard-container i {
    display: block;
    position: absolute;
    top: 0.2em;
    right: 0.2em;
    button {
        margin: 0;
        border-radius: 0;
    }
    button.size, button.color {
        position: relative;
        overflow: hidden;
        width: 45px;
        height: 36px;
        ion-select {
            position: absolute;
            padding: 9px 23px;
        }
    }
   
}

