<ion-header>
  <ion-navbar>
    <ion-title>
      Entrance
      <button ion-button color="dark" (click)=" settings = ! settings " >
        <ion-icon name="settings" ></ion-icon>
      </button>   
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf=" settings " id="settings">
    <ion-item>
      <ion-label>Select Video</ion-label>
      <ion-select [(ngModel)]="selectedVideo" #video (ngModelChange)="changeVideo($event)">
        <ion-option *ngFor="let video of videos" value="{{ video.value }}" >{{video.text}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Select Audio</ion-label>
      <ion-select [(ngModel)]="selectedAudio" #audio (ngModelChange)="changeAudio($event)">
        <ion-option *ngFor="let audio of audios" value="{{ audio.value }}" >{{audio.text}}</ion-option>
      </ion-select>
    </ion-item>
  </div>
  <div id="video-container"></div>
  <ion-list inset>

    <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input type="text" [(ngModel)]="username" (keyup.enter)="onClickSignin()"></ion-input>
    </ion-item>
 
    <ion-item>
      <button ion-button (click)="onClickSignin()" color="primary" block >Sign In</button>
    </ion-item>

  </ion-list>



</ion-content>